<div class="container main1">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <a style="font-size: 20px">Create New Order</a>
            <!-- <a style="float: right" routerLink='/manage'><button>Add Bank Account</button></a> -->
        </div>
    </div>
    
    <form [formGroup]="form" (ngSubmit)="submit(form.value)" class="form-horizontal" >
    <div class="row COrow2">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <p>Total No. of Coins</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <p *ngIf="isLoading"><strong>Loading...</strong></p>
            <p *ngIf="!isLoading"><strong>{{coinCount}}</strong></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <p>Coins to Trade</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <input class="COinput1" type="text" placeholder="Enter number of Coins"  [ngClass]="{'has-error': (!tradeCoin.valid && tradeCoin.touched), 'has-success': (tradeCoin.valid && tradeCoin.touched)}" [formControl]="tradeCoin" >
                    <span *ngIf="!tradeCoin.valid && tradeCoin.touched" style="font-size:11px;color:red" >Enter Numbers Only</span> 
                    <span *ngIf="(form.value.tradeType == 'Sell') && (totalCoin<form.value.tradeCoin)" style="font-size:11px;color:red">Insufficient Coins</span>
                </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <p>Total Coin Value</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input class="COinput2" type="text" placeholder="" [ngClass]="{'has-error': (!coinValue.valid && coinValue.touched), 'has-success': (coinValue.valid && coinValue.touched)}" [formControl]="coinValue" >
                                <span *ngIf="!coinValue.valid && coinValue.touched" style="font-size:11px;color:red" >Enter Numbers Only</span> <br>  
                        </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>Payment Method</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <select (click)="partialUpdate()" class="COselect1" [ngClass]="{'has-error': (!method.valid && method.touched), 'has-success': (method.valid && method.touched)}" [formControl]="method">
                                        <option value="" disabled>Select One</option>
                                        <option value="Bank Account">Bank Account</option>
                                        <option value="Wallet">Wallet</option>
                                    </select>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                                        <p>Trade Country</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                              <select class="COselect2" [ngClass]="{'has-error': (!country.valid && country.touched), 'has-success': (country.valid && country.touched)}" [formControl]="country">
                                                  <option value="" disabled>Select Country</option> 
                                                  <option  *ngFor="let item of collection">{{item.name}}</option>
                                              </select>
                                            </div>
                                            <div *ngIf="form.value.method == 'Bank Account'" style="display: contents;">  
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                                                  <p>Currency</p>
                                                  </div>
                                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                                                        <select class="COselect2" [ngClass]="{'has-error': (!currencyType.valid && currencyType.touched), 'has-success': (currencyType.valid && currencyType.touched)}" [formControl]="currencyType">
                                                            <option value="" disabled>Select Currency</option> 
                                                            <option  *ngFor="let item of currencies">{{item.AlphabeticCode}}</option>
                                                        </select>
                                                      </div>
                                                </div>
                                              <div *ngIf="form.value.method == 'Wallet'" style="display: contents;">        
                                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                                                      <p>Enter Wallet Address</p>
                                                      </div>
                                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                          <input class="COinput2" type="text" placeholder="Wallet Address" [ngClass]="{'has-error': (!wallet.valid && wallet.touched), 'has-success': (wallet.valid && wallet.touched)}" [formControl]="wallet" >
                                                      </div></div>
                                              <div *ngIf="form.value.method == 'Bank Account'" style="display: contents;">        
                                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                                                      <p>Select Bank Address</p>
                                                      </div>
                                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                              <select class="COselect2" [ngClass]="{'has-error': (!bank.valid && bank.touched), 'has-success': (bank.valid && bank.touched)}" [formControl]="bank">
                                                                  <option value="" disabled>Select Bank Account</option> 
                                                                  <option  *ngFor="let item of accountAddresses">{{item.accountNumber}}</option>
                                                              </select>
                                                            </div>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                  <p>Type Of Trade</p>
                                                  </div>
                                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <select class="COselect2" [ngClass]="{'has-error': (!tradeType.valid && tradeType.touched), 'has-success': (tradeType.valid && tradeType.touched)}" [formControl]="tradeType">
                                                            <option value="" disabled>Select Trade</option> 
                                                            <option value="Buy">Buy</option>
                                                            <option value="Sell">Sell</option>
                                                        </select>
                                                      </div>
                                                
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <p>Terms of Trade</p>
                                                <textarea class="COtextarea1" rows="6" [formControl]="remarks"></textarea>
                                            </div>
                                            <!-- contract addition -->
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <p>Trade Expiry Date</p>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <input type="date" [formControl]="contractdate" name="contractdate">
                                                    </div> 
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <p>Mention Contract Terms Here </p>
                                                        <textarea class="COtextarea1" rows="6" [formControl]="contract"></textarea>
                                                </div>          
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                                <a><button class="CObtn4 sbbtn" [disabled]="form.invalid || !(form.value.bank || form.value.wallet) || ((form.value.tradeType == 'Sell') && (totalCoin < form.value.tradeCoin))">Submit</button></a>
                                                </div>
    </div>
  </form>
      
  
       
  
        
  </div>
  <hr>