<section style="padding: 165px 200px 30px 200px;">
    <div class="container-fluid" style="border: 1px solid #000;">
      <div class="row" style="padding: 25px; text-align: center;">
        <div class="col-lg-12">
        </div>
      </div>
      <div class="row" style="padding: 25px; text-align: center; background-color: #f4bb09;">
        <div class="col-lg-12">
          <h1>Reset Password</h1>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fpcol">
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
             <label>Enter User ID</label>
             <input class="fpinput" type="text" placeholder="User ID" [formControl]="email" [ngClass]="{'has-error':(email.invalid && email.touched), 'has-success':(email.valid && email.touched)}">
             <span *ngIf="email.invalid && email.touched" style="color:red;font-size: 11px">Invalid Email Id</span><br>
             <label>Enter Secret Key</label>
             <input class="fpinput" type="text" placeholder="24 Digit Key" [formControl]="key" [ngClass]="{'has-error':(key.invalid && key.touched), 'has-success':(key.valid && key.touched)}">
             <span *ngIf="key.invalid && key.touched" style="color:red;font-size: 11px">Invalid Key</span><br>
             <label>New Password</label>
             <input class="fpinput" type="password" placeholder="8-Digit New Password" [formControl]="password" [ngClass]="{'has-error':(password.invalid && password.touched), 'has-success':(password.valid && password.touched)}">
             <span *ngIf="password.invalid && password.touched" style="color:red;font-size: 11px">Password should be minimum 8 characters long and contain special character, alphabet and number</span><br>
             <label>Repeat Password</label>
             <input class="fpinput" type="password" placeholder="Repeat Password" [formControl]="repeatPassword" [ngClass]="{'has-error':(repeatPassword.invalid && repeatPassword.touched), 'has-success':(repeatPassword.valid && repeatPassword.touched)}">
             <span *ngIf="repeatPassword.invalid && repeatPassword.touched" style="color:red;font-size: 11px">Password should be minimum 8 characters long and contain special character, alphabet and number</span><br>
             <span *ngIf="passwords.invalid && (password.touched || repeatPassword.touched)" style="color:red;font-size: 11px">Password's don't match</span>
             <div class="text-center">
             <a ><button class="fpbtn1" [disabled]="form.invalid">Reset Password</button></a>
             </div>
          </form>
        </div>

    </div>
  </section>
  