<header class="masthead text-center text-white d-flex">
  <div class="container-fluid my-auto">
    <div class="price-card">
      <p>1 BTC/EUR : {{ btcPrice}} </p>
      <p>1 Orogram/EUR : {{bitoroPrice}}</p>
      <p>1 Orogram/BTC : {{bitorobtc}}</p>
    </div>

    <div class="row">
      <div class="col-lg-3 mx-auto">
        <h1 class="text-uppercase text-dark">
          <strong>Exchange Orogram is not that tough Anymore</strong>
        </h1>

      </div>

      <div class="col-lg-3 mx-auto">
        <p class="text-faded mb-5 text-dark">
          <strong>Welcome to orogram, the stable coin that offers a secure and stable
            platform for
            buying and selling products and services. Our coin is backed by 1 gram of 24 carat gold, which ensures that
            its value will remain stable and secure, forever.</strong>
        </p>

        <a class="btn btn-primary btn-xl js-scroll-trigger" routerLink='/about'>Find Out More</a>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about" style="background-color: #000000 !important;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white" style="color: #f4bb09 !important;">Purchase whatever you want</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4" style="color: #f4bb09 !important;">At orogram, we use escrow payment for all
          transactions, both public and private, which ensures that your assets are always safe. Whether you're buying
          or selling products or services, you can rest assured that your funds are protected.</p>
        <p style="color: #f4bb09 !important;">We take security seriously and have implemented strict measures to prevent
          illegal activities from taking
          place on our platform. All transactions are processed through smart contracts, which helps to prevent money
          laundering and suspicious activities. Additionally, our platform is regularly monitored to ensure that all
          transactions are carried out in a transparent and secure manner.</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" style="background-color: #f4bb09 !important;"
          href="#services">Get Started!</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <img src="assets/s1.png">
          <h3 class="mb-3">Get Paid through Orogram</h3>
          <p class="text-muted mb-0">You can buy & sell Orogram coin and get paid anywhere in world in 3 open days a
            maximum just on providing your bank account details, also you can buy and sell orogram on p2p or b2b via our
            platform on trade section.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <img src="assets/s2.png">
          <h3 class="mb-3">Orogram Exchange Analysis</h3>
          <p class="text-muted mb-0">At trade section you can instantly buy and sell Orogram b2b or p2p with escrow
            payment. So there will not be any risk for losing asset.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <img src="assets/s3.png">
          <h3 class="mb-3">Send and Receive Orogram</h3>
          <p class="text-muted mb-0">Zero fee on sending and receiving orogram, 1% fee on trade at p2p or b2b,
            2% fee on buy and sell smart contracts, 1% fee for buying or selling Orogram with admin if
            transaction are paid on fiat transfer, 0% fee if you want to exchange your Orogram into physical
            gold but from our store only otherwise addition charge will be added depend on your location of collection.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- <section>
      <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <img src="assets/pex-gold-ingots.jpg" width="100%">
        </div>
      </div>
    </section> -->

<!-- <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6 portfolio-box">
            
              <img class="img-fluid" src="assets/Bitcoin.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Bitcoin
                  </div>
                  <div class="project-name">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                  </div>
                </div>
              </div>
            
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-box">
              <img class="img-fluid" src="assets/Bitcoin Cash.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                          Bitcoin Cash
                  </div>
                  <div class="project-name">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                  </div>
                </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-box">
              <img class="img-fluid" src="assets/Ethereum.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                          Ethereum
                  </div>
                  <div class="project-name">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                  </div>
                </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-box">
              <img class="img-fluid" src="assets/Ethereum Classic.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                          Ethereum Classic
                  </div>
                  <div class="project-name">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                  </div>
                </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-box">
              <img class="img-fluid" src="assets/Monero.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                          Monero
                  </div>
                  <div class="project-name">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                  </div>
                </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-box">
              <img class="img-fluid" src="assets/Zcash.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                          Zcash
                  </div>
                  <div class="project-name">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section> -->
<!-- <hr style="max-width: 100%; border: 1px solid #000 !important; opacity: 0.2;"> -->
<section class="bg-dark text-white" style="background-color: #f4bb09 !important; color: #000000 !important;">
  <div class="container text-center">
    <h1 class="mb-4">Huge Transaction in last Week</h1>
    <a class="btn btn-light btn-xl sr-button" style="background-color: #000000 !important; color: #f4bb09 !important;"
      href="#">Buy Monero Now!</a>
  </div>
</section>