<div class="container-fluid main1">
  <div class="row tabdiv1">
    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
      <h3>Trade History</h3>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6 btn3">
      <button (click)="downloadpdf()" class="tradebtn1a">Export as PDF</button>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6 btn4">
      <button (click)="downloadcsv()" class="tradebtn1a">Export in CSV</button>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 btn4">
      <button routerLink="/create" class="tradebtn1a">Create Order</button>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6">
      <input class="CPinput1" type="text" id="myInput" style="margin: 15px" [(ngModel)]="description" (keyup)="search()"
        placeholder="Search.." title="Search">
    </div>
    <!-- <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6">
      <select [(ngModel)]="perPage" (change)="perPageChange()" type="text" class="select1c">
        <option value=""  disabled>Items Per page</option>
        <option values="5">5</option>
        <option values="10">10</option>
        <option values="15">15</option>
      </select>
    </div> -->
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <select class="BCselect3" [(ngModel)]="filterCurrency" (ngModelChange)="applyCurrencyFilter()">
        <option value=''>Select Currency</option>
        <option *ngFor="let currency of currencies" [value]="currency.AlphabeticCode">{{currency.AlphabeticCode}}
        </option>
      </select>
    </div>
  </div>

  <div *ngIf="(!container?.length) && (!loading)" class="noData"> There is no record to show</div>

  <div class="row" [hidden]="!loading">
    <div class="col-6">
      <div style="float: right;">
        <div class="loader"></div>
      </div>
    </div>
  </div>

  <div class="row tabdiv2" *ngIf="(container?.length) && (!loading)">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 table-responsive">
      <table id="myTable" class="table table-bordered">
        <thead>
          <tr class="header">
            <th>Transaction Id</th>
            <th>Date</th>
            <th>Trade Type</th>
            <th>Payment Method</th>
            <th>Seller Orogram<br> Address</th>
            <th>Buyer Orogram<br> Address</th>
            <th>Total Amount</th>
            <th>Description</th>
            <th>Country</th>
            <th>Trade<br> Price</th>
            <th>Currency</th>

            <th>Total Orogram</th>
            <th>Request Status</th>
            <th colspan="6">Action</th>
          </tr>
        </thead>
        <tbody id="myTable3" *ngFor="let item of container | filter : 'user' : selectedName;   let i = index">
          <tr>
            <td (click)="popup(i)"
              style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;min-width: 70px;width: 70px;max-width: 70px;">
              {{item._id}}</td>
            <td (click)="showBankDetails(i)">{{item.createdAt.split('T')[0]}}</td>
            <td>{{item.transactionType | uppercase}}</td>
            <td (click)="showBankDetails(i)">{{((item.tradeType == 'wallet') ? 'Bitcoin' : item.tradeType) | uppercase}}
            </td>
            <td
              style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;min-width: 70px;width: 70px;max-width: 70px;">
              {{item.senderWallet || "NA"}}</td>
            <!-- <td>
              <div *ngIf="item.transactionType=='buy' && item.sender">{{item.senderAccount}}</div>
              <div *ngIf="item.transactionType=='sell' && item.receiver">{{item.receiverAccount}}</div>
              <div *ngIf="!item.receiver || !item.sender">No one to Trade</div>
            </td> -->
            <td
              style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;min-width: 70px;width: 70px;max-width: 70px;">
              {{item.receiverWallet || "NA"}}</td>
            <td (click)="showBankDetails(i)">{{item.amount}}</td>
            <td
              style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;min-width: 150px;width: 150px;max-width: 150px;">
              {{item.remarks}}
            </td>
            <td (click)="popup(i)">{{item.country}}</td>
            <td (click)="showBankDetails(i)"
              style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;min-width: 100px;width: 100px;max-width: 100px;">
              {{item.amount/(item.coins)}}</td>
            <td>{{item.currency || "NA"}}</td>

            <td (click)="showBankDetails(i)">{{(item.coins)}} <img src="../../assets/orogramcurrency.svg" width="14px"
                height="22px" /></td>
            <td (click)="showBankDetails(i)">{{item.status | uppercase}}</td>
            <td>
              <div *ngIf="(item.status=='pending' || item.status=='paid')">
                <select (change)="change(i)" [(ngModel)]="action">
                  <!-- <option value="" disabled>Select</option>  -->
                  <option value="" disabled>Select</option>
                  <option value="Pending">Pending</option>
                  <option *ngIf="((item.transactionType=='sell' && item.status=='paid') && item.receiver!=null)"
                    value="Confirm">Confirm</option>
                  <!-- <option
                    *ngIf="(((item.transactionType=='buy' || item.transactionType=='sell') && item.status=='paid')  && item.receiver!=null)"
                    value="Dispute">Dispute</option> -->
                  <option
                    *ngIf="((item.transactionType=='buy' || item.transactionType=='sell')  && item.receiver!=null)"
                    value="Dispute">Dispute</option>
                  <option *ngIf="((item.transactionType=='buy' && item.status=='pending')  && item.sender!=null)"
                    value="Paid">Paid</option>
                  <!-- <option *ngIf="(!(item.sender || item.receiver) && (item.transactionType=='sell' && item.status=='pending'))" value="Cancel">Cancel</option> -->
                  <option *ngIf="((item.transactionType=='sell' && item.status=='pending' && item.receiver == null))"
                    value="Cancel">Cancel</option>
                </select>
              </div>
              <div *ngIf="item.status=='confirm'">
                CONFIRMED
              </div>
              <div *ngIf="item.status=='dispute'">
                DISPUTED
              </div>
              <div *ngIf="item.status=='cancel'">
                CANCELLED
              </div>
              <!-- <div *ngIf="(item.status =='paid' && item.transactionType =='buy' ) ">
          PAID
        </div> -->
            <td><button [disabled]="i.status == 'cancel' || i.status == 'confirm'" class="buychatbtn" placeholder="Chat"
                (click)="chat(i, $event)">Chat <span *ngIf="(item.isNotification && item.tempNotification)"><i
                    class="fa fa-bell" style="font-size:18px;color:red"></i></span></button></td>

            <td><button class="buychatbtn" placeholder="Details" (click)="showBankDetails(i)" data-toggle="modal"
                data-target="#exampleModalLong">Details </button></td>

          </tr>
        </tbody>
      </table>
      <!-- <div style="display:inline-block">
          <ul class="navmainlist1" style="list-style:none;display:flex;">
              <li class="navlist1" *ngFor="let pageNum of pageNumbers" (click)="pageChange(pageNum)" [ngClass]="{active:currentPage === pageNum}">{{pageNum}}&nbsp;&nbsp;</li>
          </ul>
      </div> <a (click)="pageChange()" class="nxtbtn">Next</a> -->
      <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
    </div>
  </div>

</div>

<!-- new chat ui here -------------------------------------- -->
<div class="popup-outer">
  <div class="popup-wrapper">
    <span class="chatclose"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
    <ul>
      <li style="position: relative;" *ngFor="let user of chatRoom let i = index"><a href="javascript:void(0);"
          (click)="chatnew(i)">{{user.roomNo}}</a>
        <span class="badge badge-danger">{{user.count}}</span>
      </li>

    </ul>
  </div>
  <a href="javascript:void(0);" class="chat-control">Chat Box <i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>

<div class="chatbox-container" *ngIf="chatBooleanmultiple">
  <div class="chat-header">
    <p>TranId <span style="font-size: 13px;">{{transactionId}}</span></p>
    <span><i class="fa fa-times-circle" aria-hidden="false" (click)="closeChat()"></i></span>
  </div>
  <div class="chat-body">
    <a class="btn" style="border-radius: 5px; font-size: 13px; background-color: #f8c546;"
      (click)="notifyAdminNeeded()">Contact Admin</a>
    <div *ngFor="let message of messages"
      [ngClass]="{'sender-wrapper':message.self == false,'receiver-wrapper':message.self == true}">
      <p class="msg">{{message.text}}</p>
      <span class="sender-name">{{message.name}}</span>
    </div>


  </div>
  <form action="">
    <div class="type-area">
      <input type="text" name='msg' placeholder="Type your Message.." class="inputtext" [(ngModel)]="replyMessage">
      <span><i class="fa fa-paper-plane" (click)="reply()"></i></span>
    </div>
  </form>
</div>

<!-- model to upload image new ------------------------------------------------->
<div class="modal fade backdrop" id="myModalupload" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Upload Payment Recipt</h4>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div>



          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>Upload Paid Recipt Images</p>

          </div>

          <!-- ng2 file upload here --------------------------------------- -->
          <label class="custom-file-upload" for="file-upload"> SelectFiles </label>
          <input id="file-upload" name="file" type="file" ng2FileSelect [uploader]="uploader" multiple />

          <table class="table">
            <thead>
              <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th></th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader">
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td>
                  <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <br>


        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default nxtbtn" data-dismiss="modal" [disabled]="0 >= uploader.queue"
          (click)="uploadImages()" [style.opacity]="0 >= uploader.queue ?0.5:1">Submit</button>
        <button type="button" class="btn btn-default nxtbtn" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- confirmation dialog here -->
<div class="modal" tabindex="-1" role="dialog" id="confirm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to confirm ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirm_final()">Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>