

<div class="container-fluid my-auto">
  <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="" style="color: #000;">Welcome to Crypto</h2>
      </div>
    </div>
<div class="row" style="margin-top: 65px;">
  <div class="col-lg-6 mx-auto">
    <img src="assets/Privacy.jpg" height="100%;" width="100%;" style="border-radius: 10px;">
    
  </div>
  <div class="col-lg-6 mx-auto">
    <p class="text-faded mb-5" style="color: #000;">The Company has prepared this Privacy Policy to outline our practices with respect to collecting, using and disclosing your information when you use the Services.</p>
      
    <p class="text-faded mb-5" style="color: #000;">We encourage you to read the Privacy Policy carefully and use it to make informed decisions. By using the Services, you agree to the terms of this Privacy Policy and your continued use of the Services constitutes your ongoing agreement to the Privacy Policy.</p>

    <p>In this Privacy Policy you will read about, among other things:</p>
      <ul type="disc">
        <li>What type of information we collect</li>
        <li>How we use the information</li>
        <li>With whom we share the information and for what purpose</li>
        <li>International transfer</li>
        <li>Your privacy rights</li>
        <li>For how long we retain the information</li>
        <li>How we protect your information</li>
        <li>Marketing Minors</li>
        <li>How to contact us</li></ul>
    
  </div>
</div>
</div>

<section id="services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="privacytitle" style="color: #000;">Privacy Policy</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


          <h3>What type of information we collect</h3>
          <p>We collect data and information from our Users and the informaion is un-identified and non-identifiable information pertaining to you, which may be made available or gathered via your use of the Services ("Non-personal Information"). We are not aware of the identity from which the Non-personal Information is collected. Non-personal Information which is collected may include your aggregated usage information and technical information transmitted by your device, including certain software and hardware information about your device (e.g., the device you use, the type of browser and operating system your device uses, language preference, access time and the website's domain name from which you linked to the Services, etc.), in order to enhance the functionality of the Services. We may also collect information about your activity on the Services (e.g., clicks, actions, online browsing, etc.).</p>
          
          
          <h3>How we use the information</h3>
          <p>We use and share Personal Information in the manners described in this Privacy Policy. In addition to the purposes listed above, the information we collect, which may include your Personal Information, is used for the following purposes:</p>
          <ul type="disc">
          <li>To set up your account and to provide the Services;</li>
          <li>To identify and authenticate your access to certain features of the Services;</li>
          <li>To authenticate your identity for the purpose of compliance with regulatory Know Your Customer requirements;</li>
          <li>To communicate with you and to keep you informed of our latest updates;</li>
          <li>To market our website and the Services;</li>
          <li>To perform a research or to conduct analytics in order to improve and customize the Services to your needs and interests;</li>
          <li>To support and troubleshoot the Services and to respond to your queries;</li>
          <li>To investigate and resolve disputes in connection with your use of the Services;</li>
          <li>To detect and prevent fraudulent and illegal activity or any other type of activity that may jeopardize or negatively affect the integrity of the Services; and</li></ul>
          <p>To investigate violations and enforce our policies, and as required by law, regulation or other governmental authority, or to comply with a subpoena or similar legal process or respond to a government request.</p>
          
          <h2>With whom we share the information and for what purpose</h2>
          <p>We do not rent, sell, or share your Personal Information with third-parties except as described in this Privacy Policy.</p>
          
          <p>We may share Personal Information with the following recipients: (i) our subsidiaries; (ii) affiliated companies; (iii) subcontractors and other third-party service providers; (iv) auditors or advisers of our business processes; and (v) any potential purchasers or investors in the Company.</p>
          
          <p>In addition to the purposes listed in this Privacy Policy, we may share Personal Information with our recipients for any of the following purposes: (i) storing or processing Personal Information on our behalf (e.g., cloud computing service providers); (ii) processing such information to assist us with our business operations; (iii) performing research, technical diagnostics, personalization and analytics; and (iv) communicating promotional and informational materials, in accordance with our marketing policy (see below under "Marketing").</p>
          
          <p>We may also disclose Personal Information, or any information you submitted via the Services if we have a good faith belief that disclosure of such information is helpful or reasonably necessary to: (i) comply with any applicable law, regulation, legal process or governmental request; (ii) enforce our policies, including investigations of potential violations thereof; (iii) investigate, detect, prevent, or take action regarding illegal activities or other wrongdoing, suspected fraud or security issues; (iv) to establish or exercise our rights to defend against legal claims; (v) prevent harm to the rights, property or safety of us, our affiliates, our Users, yourself or any third-party; (vi) for the purpose of collaborating with law enforcement agencies; and (vii) in case we find it necessary in order to enforce intellectual property or other legal rights.</p>
          
          <h2>Third-party collection of information</h2>
          <p>Our policy only addresses the use and disclosure of information we collect from you. To the extent that you disclose your information to other parties via the Services (e.g., by clicking on a link to any other website or location) or via other sites throughout the Internet, different rules may apply to their use or disclosure of the information you disclose to them.</p>
          
          <p>You acknowledge that we are not responsible for the products, services, or descriptions of products or services that you receive from third-party sites or to the content or privacy practices of those sites, and that this Privacy Policy does not apply to any such third-party products and services. You are knowingly and voluntarily assuming all risks of using third-party sites to purchase products and services. You agree that we shall have no liability whatsoever with respect to such third-party sites and your usage of them.</p>
          
          <h2>International transfer</h2>
          <p>Since we operate globally, it may be necessary to transfer data, including Personal Information, to countries outside the European Union. The data protection and other laws of these countries may not be as comprehensive as those in the European Union − in these instances we will take steps to ensure that a similar level of protection is given to Personal Information, including through adequate contractual measures. You hereby consent to the transfer of Personal Information to countries outside the European Union.</p>
          
          <h2>Your privacy rights</h2>
          <p>We respect your privacy rights and therefore you may contact us at any time and request: (i) to access, delete, change or update any Personal Information relating to you (for example, if you believe that your Personal Information is incorrect, you may ask to have it corrected or deleted); or (ii) that we cease any further use of your Personal Information (for example, you may ask that we stop using or sharing your Personal Information with third-parties) or that we remove your Personal Information (subject to any other legal obligation that may require us to keep the information).</p>
          
          <p>If you are not satisfied with our response or believe we are collecting or processing your Personal Information in discordance with the laws, you can file a complaint with the applicable data protection authority.</p>
          
          <h2>For how long we retain the information</h2>
          <p>We retain the information we collect for as long as needed to provide the Services (including aspects of risk management) and to comply with our legal and regulatory obligations, resolve disputes, and enforce our agreements (unless we are instructed otherwise).</p>
          
          <p>We may rectify, replenish, or remove incomplete or inaccurate information at any time and at our own discretion.</p>
          
          <h2>How we protect your information</h2>
          <p>We take great care implementing and maintaining the security of the Services and your information. We aspire to continuously employ industry standard procedures and policies to ensure the safety of your information and prevent unauthorized use of any such information. Although we take reasonable steps to safeguard information, we cannot be responsible for the acts of those who gain unauthorized access or abuse the Services, and we make no warranty, express, implied, or otherwise, that we will manage to prevent such access.</p>
          
          
          <h2>Marketing</h2>
          <p>Your Personal Information, such as your full name, email address, etc., may be used by us, or by our third-party subcontractors to provide you with promotional materials, concerning our Services.</p>
          
          <h2>Corporate transaction</h2>
          <p>We may share information, including Personal Information, in the event of a corporate transaction (e.g., the sale of a substantial part of our business, a merger, a consolidation of assets, the sale of an asset, or transfer in the operation thereof) of the Company. In the event of the above, the acquiring company or transferee will assume the rights and obligations as described in this Privacy Policy.</p>
          
          <h2>Minors</h2>
          <p>The Services are not designated to individuals under the age of 18. If you are under 18 years old, you should not use the Services or provide any Personal Information to us.</p>
          
          
          <h2>Updates or amendments to the Privacy Policy</h2>
          <p>We may revise this Privacy Policy from time to time, at our sole discretion, and the most current version will always be posted on our website (as reflected in the "Last Revised" heading). In the event of a material change to the Privacy Policy, we may notify you through the Services or via email. We encourage you to review this Privacy Policy regularly for any changes.</p>
          
          <p>Your continued use of the Services, following the notification of such amendments, constitutes your acknowledgement and consent of such amendments to the Privacy Policy and your agreement to be bound by the terms of such amendments.</p>
          
          <h2>How to contact us</h2>
          <p>If you have any general questions regarding the Services or the information that we collect about you and how we use it, please <a routerLink="/contact">Contact Us</a>.</p>



        
      </div>
    </div>
  </div>
</section>



