.sent{
    font-weight: bold;
    color: orange;
    padding: 1px;
}
.receive{
    font-weight: bold;
    color: green;
    padding: 1px;
}
.active{

    text-align: center;
    padding-left: 7px;
    margin-right: 10px;
    background-color: #f4bb09;
    color: #222;
    cursor: pointer;
}