<section style="padding-bottom: 30px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="color: #000;">Terms & Conditions</h2>
      </div>
    </div>
  </div>
</section>


<section style="padding-top: 30px;">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <!-- <button class="accordion">Heading 1</button> -->
        <!-- <div class="panel"> -->
        <div class="">
          <ul>
            <h4>By using orogram coin, you agree to the following terms and conditions:</h4>

            <li>You acknowledge and agree that the value of orogram coin is backed by 1 gram of 24 carat gold, and that
              this
              backing will remain in effect permanently.</li>

            <li>You agree to the transaction fees and charges associated with the use of orogram coin, including a 1
              percent
              fee on confirmed transactions, a 2 percent fee on confirmed buy and sell transactions, and a 1 percent fee
              on the purchase or sale of orogram coin.</li>

            <li>You understand that it is illegal to use orogram coin for any illegal activities and that we may take
              appropriate legal action to enforce this rule.</li>

            <li>You acknowledge that the use of smart contracts is required when sending funds outside of the country,
              and
              that this is to ensure compliance with anti-money laundering regulations.</li>

            <li>You understand that we are responsible for ensuring that orogram coin is always following the price of
              24
              carat gold, but that there may be fluctuations in the value of orogram coin that are beyond our control.
            </li>

            <li>You agree to use an escrow payment method when buying and selling products and services, as this
              eliminates
              the risk of loss associated with such transactions.</li>

            <li>You acknowledge that we do not store or sell any cookies, and that we do not share user information with
              any
              third-party companies.</li>

            <li>You understand that all users are treated equally on our platform, and that we do not discriminate or
              manipulate any user information.</li>

            <li>You acknowledge that our control is limited to confirming or cancelling disputed transactions, and to
              suspending accounts in cases of fraud, but that all assets will remain in a frozen account.</li>

            <li>You understand that we do not store user private keys, and that you are solely responsible for the
              safekeeping of your private key and for the security of your assets.</li>

            <li>You acknowledge that you are responsible for all taxes, fees, and other charges associated with your use
              of
              orogram coin, and that you accept full responsibility for any losses or damages that may occur as a result
              of your use of orogram coin.</li>

            <li>By using orogram coin, you agree to be bound by these terms and conditions, and acknowledge that any
              violation of these terms may result in legal action being taken against you.</li>
          </ul>
        </div>

      </div>


    </div>

    <!-- <div class="row">
      <div class="col-lg-12 col-md-12">
        <button class="accordion">Heading 2</button>
        <div class="panel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
        </div>

      </div>


    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <button class="accordion">Heading 3</button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
        </div>

      </div>


    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <button class="accordion">Heading 4</button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
        </div>

      </div>


    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <button class="accordion">Heading 5</button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
        </div>

      </div>


    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <button class="accordion">Heading 6</button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
        </div>

      </div>


    </div> -->



  </div>
</section>