<div class="container main1">
  <div class="row" style="padding: 25px; text-align: center;">
                           <div class="col-lg-12"> 
                             <h2>Reset Password</h2>
                                    <p>Password has been reset successfully</p>
                                    <p class="text2"><a href="/login">Click Here</a> to Login with new Password</p>
                                        
                                  </div>
                                </div>
          
          </div>