<div class="container main1">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div1">
      <h2 class="divhd1"  style="background: #f4bb09">User Profile</h2>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 formdiv">
          <a href="#">
            <button class="btn1">Edit Profile</button>
          </a>
          <a href="#">
            <button class="btn2">Purchase Crypto</button>
          </a>
        </div>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td>Profile Name</td>
            <td>Samuels Tomze</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>teststeven@test.com</td>
          </tr>
          <tr>
            <td>Mobile No.</td>
            <td>+914485454875</td>
          </tr>
          <tr>
            <td>Unique ID</td>
            <td>CG22545G</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
