<div class="container-fluid main1">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div6 clearfix">
        
            <form [formGroup]="form" class="form-horizontal">
                <h3 class="hd4">Add New User</h3>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label class="lbl1" style="padding-top: 8px;">Enter User Email ID</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input type="email" style="padding: 5px; width: 100%;" [formControl]="email" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}" class="email">
                </div>
            </form>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label style="padding-top: 8px;">Role:</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="dropdown dpd1" style="padding: 5px;"><span>Sub-Admin</span>
                  <!-- <select style="margin-left: 7px" [(ngModel)]="selectedValue" (click)="selectRole()">
                      <option value="" disabled>Select</option>
                      <option value="Sub-Admin" >Sub-Admin</option>
                      <option value="Super Admin" >Super Admin</option>
                      <option value="User" >User</option>
                      <option value="Select" >Select</option>
                  </select> -->
                </div>
            </div>
              <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <button style="margin-top: 15px" class="createbtn" [disabled]="!form.valid" (click)="createUser(form.value)">Create User</button>
              </div> 
    </div>
</div>


</div>
