<section style="padding: 165px 200px 30px 200px;">
    <div class="container-fluid" style="border: 1px solid #000;">
     
      <div class="row" style="padding: 25px; text-align: center; background-color: #f4bb09;">
        <div class="col-lg-12">
          <h1>Reset Password</h1>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fpcol">
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
             <label>Current Password</label>
             <input class="fpinput" type="password" placeholder="Old Password" [formControl]="oldPassword" [ngClass]="{'has-error':(oldPassword.invalid && oldPassword.touched), 'has-success':(oldPassword.valid && oldPassword.touched)}">
             <span *ngIf="oldPassword.invalid && oldPassword.touched" style="color:red;font-size: 11px">Invalid Password</span><br>
             <label>New Password</label>
             <input class="fpinput" type="password" (focusout)="checkPassword()" placeholder="8-Digit New Password" [formControl]="password" [ngClass]="{'has-error':(password.invalid && password.touched), 'has-success':(password.valid && password.touched)}">
             <span *ngIf="password.invalid && password.touched" style="color:red;font-size: 11px">Must contain an alphabet, special character and number</span><br>

             <span *ngIf="(equalpass == true)" style="color:red;font-size: 11px">Old Password Should not Equal to New Password</span><br>

             <label>Repeat Password</label>
             <input class="fpinput" type="password" placeholder="Repeat Password" [formControl]="repeatPassword" [ngClass]="{'has-error':(repeatPassword.invalid && repeatPassword.touched), 'has-success':(repeatPassword.valid && repeatPassword.touched)}">
             <span *ngIf="repeatPassword.invalid && repeatPassword.touched" style="color:red;font-size: 11px">Must contain an alphabet, special character and number</span><br>
             <span *ngIf="passwords.invalid && (password.touched || repeatPassword.touched)" style="color:red;font-size: 11px">Password's don't match</span>
             <div class="text-center">
             <a ><button class="fpbtn1" [disabled]="form.invalid">Change Password</button></a>
             </div>
          </form>
        </div>

    </div>
  </section>
