<div class="container main1">
    <div class="row" style="padding: 25px; text-align: center;">
                             <div class="col-lg-12"> 
                                <h4>Would you like to enable 2 factor authentication for your account?
                                  </h4>
                                  <p>Please choose how you wish to receive 2FA code:</p>
                                      <div>
                                          <img class="hover" src="assets/authenticator.png" alt="Google auth" routerLink='/factorAuth' width="22%" >
                                        </div>  
                                        <div>
                                            <button routerLink='/profile' class="skipbtn">Skip Now</button>
                                        </div> 
                                    </div>


                                  </div></div>

                                  