<div class="content-wrapper main1">
  <div class="tabdiv1">
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <h3>Crypto Sell Transactions</h3>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
      <a class=" btn3"><button (click)="downloadpdf()">Export as PDF</button></a>
      <a class=" btn4"><button (click)="downloadcsv()">Export in CSV</button></a>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
      <input class="CPinput1" type="text" id="myInput" style="margin: 15px 0px" [(ngModel)]="description"
        placeholder="Search by UserId/Type/Status/Amount" title="Search">
    </div>
    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6">
      <select [(ngModel)]="perPage" (change)="perPageChange()" type="text" class="select1c">
        <option value="" disabled>Items Per page</option>
        <option values="5">5</option>
        <option values="10">10</option>
        <option values="15">15</option>
      </select>
    </div>
  </div>
  <div *ngIf="count == 0" class="noData"> There is no record to show</div>

  <!-- <div class="col-12">
    <div style="text-align: -webkit-center;;">
      <div class="loader"></div>
    </div>
  </div> -->

  <div class="tabdiv2">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 table-responsive" *ngIf="count > 0">
      <table id="myTable" class="table table-bordered">
        <thead>
          <tr class="header">

            <th (click)="sort('date')">Transaction Date
              <span class="glyphicon sort-icon" *ngIf="key =='date'"
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>

            <th (click)="sort('id')">User Id
              <span class="glyphicon sort-icon" *ngIf="key =='id'"
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>

            <th (click)="sort('id')">User Account/Address
              <span class="glyphicon sort-icon" *ngIf="key =='id'"
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>

            <th (click)="sort('method')">Payment Method
              <span class="glyphicon sort-icon" *ngIf="key =='method'"
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>


            <!-- <th (click)="sort('method')">Account Detail
                <span class="glyphicon sort-icon" *ngIf="key =='method'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  
              </th> -->

            <th (click)="sort('amount')">Amount(Fiat/BTC/Weight)
              <span class="glyphicon sort-icon" *ngIf="key =='amount'"
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>

            <th> Currency </th>

            <th (click)="sort('status')">Request Status
              <span class="glyphicon sort-icon" *ngIf="key =='status'"
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th (click)="sort('amount')">Orogram sent to receiver
              <span class="glyphicon sort-icon" *ngIf="key =='amount'"
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th>Details</th>
            <th>Action</th>

          </tr>
        </thead>

        <tbody id="myTable3"
          *ngFor="let item of container| customerEmailFilter:'transaction':description  ; let i = index">
          <tr *ngIf="!item.isAdminPurchase">

            <td>{{item.createdAt | date}}</td>
            <td>{{item.receiverId}}</td>

            <td>
              <div *ngIf="item.receiverAccount">{{item.receiverAccount}}</div>
              <div *ngIf="item.bankAccount">{{item.bankAccount.number}}</div>
              <div *ngIf="item.cash">{{item.cash.address}}</div>
              <div *ngIf="item.goldDetails">{{item.goldDetails.departureAddress}}</div>
            </td>
            <td>{{item.type | uppercase}}</td>

            <!-- <td>Name:{{item.bankAccount.name}}<br/>Number:{{item.bankAccount.number}}<br/>Swift:{{item.bankAccount.swift}}</td> -->

            <td>{{item.amount}}</td>
            <td>
              <div *ngIf="item.cash">{{item.cash.currency}}</div>
              <div *ngIf="item.bankAccount">{{item.bankAccount.currency}}</div>
            </td>
            <td>{{item.status | uppercase}}</td>
            <!-- <td>{{intToDecimal(item.coins)}}</td> -->
            <td>{{item.coins}}<img src="../../assets/images/orogram_logo.jpeg" width="25px" height="25px" /></td>

            <td (click)="popup(i)" class="cursor"><a>View Sell Transaction Details</a></td>
            <td>
              <select (change)="change(i)" [(ngModel)]="action" *ngIf="item.status != 'confirm' && !loading">
                <!-- <option value="" disabled>Select</option>  -->
                <option value="" disabled>Select</option>
                <option value="Confirm">Confirm</option>
                <option value="Pending">Pending</option>
              </select>
              <p *ngIf="loadingIndex == i"><strong>Loading...</strong></p>
              <span *ngIf="item.status == 'confirm' && !loading" style="color:green"> <b>CONFIRMED</b> </span>
              <span *ngIf="(item.status == 'Cancel' || item.status == 'cancel' ) && !loading" style="color:red">
                <b>CANCELLED</b>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <div style="display:inline-block">
        <ul class="navmainlist1" *ngIf="count > perPage" style="list-style:none;display:flex;">
          <li class="navlist1" *ngFor="let pageNum of pageNumbers" (click)="pageChange(pageNum)"
            [ngClass]="{active:currentPage === pageNum}">{{pageNum}}&nbsp;&nbsp;</li>
        </ul>
      </div> <a (click)="pageChange()" class="nxtbtn" *ngIf="count > perPage">Next</a>
      <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
    </div>
  </div>






</div>